* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
}
header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fylo-logo {
  margin-top: 15px;
  margin-left: 50px;
}
.nav-container {
  width: 100%;
  height: 70px;
}
.navbar ul {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(7, 4, 57);
}
.navbar {
  margin-right: 50px;
}
.navbar li {
  display: inline-block;
  padding-right: 90px;
}
.navbar li:last-child {
  padding-right: 0px;
}
.motto-container {
  padding-top: 100px;
  width: fit-content;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 100px 80px 60px;
  gap: 10px;
}
.motto {
  grid-column: 1/3;
  width: fit-content;
  height: fit-content;
  padding-left: 50px;
}
.motto h1 {
  font-size: 2.8em;
  line-height: 50px;
}
.foreword {
  grid-column: span 2;
  padding-left: 50px;
  /* margin-top: 20px; */
}
p {
  font-size: 20px;
}
.input-container {
  grid-row: 3/4;
  grid-column: 1/3;
  margin-left: 50px;
}
.illustration {
  width: 530px;
  height: auto;
}
.illustration-img {
  width: 100%;
  height: auto;
}
.illustration-2 {
  width: 550px;
  height: auto;
  position: absolute;
  left: 750px;
  top: 35px;
}
.illustration-2 img {
  width: 100%;
  height: auto;
}
.mail {
  height: 38px;
  width: 310px;
  padding: 15px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 2px;
}
.btn {
  height: 38px;
  border-radius: 4px;
  width: 200px;
  background-color: #2f65f9;
  border: 1px solid #dadada;
  /* box-shadow:  2px 2px #dadada; */
  color: #fff;
  margin-left: 10px;
}
#testimonial {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.bg-curve {
  background-image: url(./images/bg-curve-desktop.svg);
  width: 100%;
  height: 114px;
  overflow: visible;
}
.curve-txt {
  width: fit-content;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
}
.testimonial-container {
  width: 100%;
  height: 700px;
  background-color: #f9f8fe;
  position: relative;
  overflow: hidden;
}
.testimonial-container h1 {
  font-size: 2.8em;
  margin-bottom: 30px;
}
.bg-text {
  margin-bottom: 17px;
}
.testimonial {
  padding: 0 30px;
  height: 250px;
  width: 370px;
  margin-left: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* position: relative; */
}
.icon-quotes {
  width: 20px;
  height: 20px;
  /* margin-left: 20px; */
  margin-top: 35px;
  /* position: absolute;
    top: 20px;
    left: 20px; */
}
.icon-quotes img {
  width: 100%;
  height: 100%;
}
.testimonial-container a:link {
  font-size: 19px;
  text-decoration: none;
  position: relative;
}
.icon-arrow {
  position: absolute;
  top: 4px;
  margin-left: 3px;
}
hr {
  width: 172px;
  margin-bottom: 10px;
}

.testimonial-txt p {
  font-size: 17px;
}
.testimonial-profile {
  height: 50px;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.name {
  margin-top: 5px;
}
.name p {
  font-size: 11px;
}
.avatar-testimonial {
  display: inline;
  width: 40px;
  height: auto;
  border-radius: 40px;
}

#signup {
  width: 100%;
  height: 260px;
  background-color: #575989;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 30%;
  /* position: relative; */
}
.signup-text {
  width: fit-content;
  height: 150px;
  margin-top: 90px;
  margin-left: 50px;
}
.signup-text p:first-child {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 20px;
}
.signup-text p:last-child {
  color: white;
  font-size: 19px;
}
.signup-input {
  margin-top: 100px;
  outline: none;
  border: none;
}
.signup-input input {
  display: block;
  width: 400px;
  height: 40px;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.signup-input button {
  width: 180px;
  height: 40px;
  padding: 10px 10px;
  background-color: #2f65f9;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.signup-input input:focus-visible {
  outline: none;
  border: 1px solid;
}
footer {
  height: 350px;
  background-color: #07043b;
  display: flex;
  flex-direction: row;
  gap: 15%;
}

.socials {
  width: fit-content;
  height: fit-content;
  margin-top: 150px;
}

@media screen and (max-width: 375px) {
  header {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
  }
  .fylo-logo {
    margin-top: 15px;
    margin-left: 32px;
    margin: 0;
    width: 100px;
  }
  .nav-container {
    width: 100%;
    height: 70px;
  }
  .navbar {
    margin: 0;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .navbar a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(7, 4, 57);
  }
  .navbar li {
    display: inline-block;
    padding-right: 0px;
  }
  .navbar li:last-child {
    padding-right: 0px;
  }

  .motto-container {
    padding-top: 100px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 100px 80px 60px;
    row-gap: 32px;
  }
  .motto {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    padding: 0;
  }
  .motto h1 {
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    width: 350px;
  }
  .foreword {
    grid-column: span 2;
    padding-left: 50px;
    padding: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
    /* margin-top: 20px; */
  }
  p {
    font-size: 16px;
    width: 300px;
  }
  .input-container {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-left: 50px;
  }
  .illustration {
    width: 250px;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
  }
  .illustration-img {
    width: 100%;
    height: auto;
  }

  #testimonial {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
  .bg-curve {
    background-image: url(./images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    background-size: cover;
  }
  .illustration-2 {
    width: 300px;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
  .illustration-2 img {
    width: 100%;
    height: auto;
  }
  .curve-txt {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    margin: 0;
    font-size: 14px;
  }
  .testimonial-container {
    width: 100%;
    height: 700px;
    background-color: #f9f8fe;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial-container h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .bg-text {
    margin-bottom: 17px;
  }
  .testimonial {
    padding: 0 30px;
    padding: 0;
    padding: 0 16px;
    padding-bottom: 24px;
    height: auto;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 40px;
    margin: 0;
    margin: 32px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 10px;
    background-color: #fff;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.1032);
    /* position: relative; */
  }
  .icon-quotes {
    width: 12px;
    height: auto;
    /* margin-left: 20px; */
    align-items: flex-start;
    margin-top: 35px;
    /* position: absolute;
    top: 20px;
    left: 20px; */
  }
  .icon-quotes img {
    width: 100%;
    height: 100%;
  }
  .testimonial-container a:link {
    font-size: 16px;
    text-decoration: none;
    align-self: center;
    justify-self: center;
  }
  .icon-arrow {
    position: relative;
    top: 0;
    margin-left: 3px;
  }
  hr {
    width: 172px;
    margin-bottom: 10px;
    display: none;
  }
  .testimonial-txt {
    margin: 0;
  }
  .testimonial-txt p {
    font-size: 14px;
    width: 290px;
    margin: 0;
  }
  .testimonial-profile {
    height: 50px;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .name {
    margin-top: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
  }
  .name h4 {
    font-size: 14px;
    display: inline-block;
    /* display: none; */
  }
  .name p {
    display: inline-block;
    font-size: 8px;
    width: fit-content;
  }
  .avatar-testimonial {
    display: inline;
    width: 40px;
    height: auto;
    border-radius: 40px;
  }

  #signup {
    width: 100%;
    height: 260px;
    margin-top: 64px;
    background-color: #575989;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    /* position: relative; */
  }
  .signup-text {
    width: fit-content;
    height: 150px;
    margin: 0;
    text-align: center;
  }
  .signup-text p:first-child {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .signup-text p:last-child {
    color: white;
    font-size: 16px;
    width: 279px;
    margin: 0;
  }
  .signup-input {
    margin-top: 100px;
    margin: 0;
    outline: none;
    border: none;
  }
  .signup-input input {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .signup-input button {
    width: 180px;
    height: 40px;
    padding: 10px 10px;
    background-color: #2f65f9;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
  .signup-input input:focus-visible {
    outline: none;
    border: 1px solid;
  }

  footer {
    height: auto;
    background-color: #07043b;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 48px;
  }

.contact ul{
display: flex;
flex-direction: column;
gap: 16px;
color: #fff;
}
.contact ul li{
  display: flex;
  align-items: center;
  gap: 12px;
}

  .navbar-f{
display: flex;
flex-direction: column;
gap: 8px;
  }
  .footer-logo-img{
fill: #fff;
  }
  .navbar-f a:link
  ,.navbar-f a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  .socials {
    margin: 0;
    align-self: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 24px;
  }
  .icon-social{
    padding: 4px;
    border: 1px solid #fff;
  }

}
